{% extends "base.html" %} {% block content %}
<div class="auth-container">
    <div class="auth-background">
        <!-- Добавити задній фон -->
    </div>
    <div class="d-flex justify-content-center align-items-center auth-content">
        <form 
            action="{{ url_for('auth.register') }}" 
            method="POST" 
            role="form"
            class="git fetchregister-form p-5 rounded"
        >
            <div class="text-center mb-4">
                <h1 class="fw-bold">Зареєструватися</h1>
            </div>

            <div class="form-group mb-3">
                {{ register_form.name.label(class="form-label") }}
                {{ register_form.name(class="form-control") }}
            </div>
        
            <div class="form-group mb-3">
                {{ register_form.email.label(class="form-label") }}
                {{ register_form.email(class="form-control") }}
            </div>
        
            <div class="form-group mb-3">
                {{ register_form.password.label(class="form-label") }}
                {{ register_form.password(class="form-control") }}
            </div>
        
            <div class="form-group mb-3">
                {{ register_form.confirm_password.label(class="form-label") }}
                {{ register_form.confirm_password(class="form-control") }}
            </div>
        
            <div class="text-center">
                {{ register_form.submit(class="btn btn-primary w-100 py-2") }}
            </div>
        
            <div class="mt-4 text-center">
                <p class="small">
                    Вже маєте акаунт?
                    <a href="{{ url_for('auth.login') }}" class="fw-bold">Увійти</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}