{% extends "base.html" %}

{% block content %}
<div class="post-container">
    <div class="post-header">
        {% if not current_user.id != post.user_id%}
        {% elif user %}
        <div class="post-actions">
            <a href="{{ url_for('content.edit_post', post_id=post.id, post_title=post.title) }}" class="btn-action btn-edit">
                <i class="fas fa-edit"></i>
                <span>Редагувати</span>
            </a>
            <a href="{{ url_for('content.delete_post', post_id=post.id, post_title=post.title) }}" class="btn-action btn-delete">
                <i class="fas fa-trash-alt"></i>
                <span>Видалити</span>
            </a>
        </div>
        {% endif %}
        <h1 class="post-title">{{ post.tittle }}</h1>
        <p class="post-meta">
            Опубліковано: <span class="post-date">{{ post_create_date }}</span>
        </p>
    </div>
    {% if post.image_url %}
    <div class="post-image">
        <img src="{{ post.image_url }}" alt="{{ post.tittle }}">
    </div>
    {% endif %}
    <div class="post-content">
        {{ post.content|replace('\n\n', '</p><p>')|safe }}
    </div>
    <div class="post-footer">
        <a href="{{ url_for('content.' + source) }}" class="btn btn-primary">
            Повернутися до {{ 'новин' if source == 'news_feed' else 'блогу' }}
        </a>
    </div>
</div>
{% endblock %}